body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td, header,
	hgroup, nav, section, article, aside, footer, figure, figcaption, menu,
	button {
	margin: 0;
	padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, main, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template, script {
	display: none
}

*, *::before, *::after {
	box-sizing: border-box
}

body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	line-height: 1;
	font-size: 12px;
	color: #333;
	background-color: #fff;
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	outline: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption, th {
	text-align: left
}

fieldset, img {
	border: 0
}

img {
	max-width: 100%;
	vertical-align: middle
}

li {
	list-style: none
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: none;
	border: 0;
	background: none
}

a {
	-webkit-touch-callout: none;
	text-decoration: none
}

a:active, a:hover {
	outline: 0
}

:focus {
	outline: 0;
	-webkit-tap-highlight-color: transparent
}

em, i {
	font-style: normal
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}

button, input:not ([type="radio"] ):not ([type="checkbox"] ), select {
	vertical-align: middle
}

.studio-cover-com {
	width: 100%;
	height: 161px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image:url('../img/studio_cover.jpg');
	background-size: cover
}

.tabs {
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.tabs a {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	font-size: 14px;
	width: 0;
	color: #333;
	border-bottom: 1px solid #e9e9e9
}

.tabs a:first-of-type::after {
	content: '';
	position: absolute;
	right: 0;
	top: 11px;
	display: block;
	width: 1px;
	height: 18px;
	background-color: #e9e9e9
}

.tabs a.active {
	border-bottom: 2px solid #308be1
}

.studio-group {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	height: 48px;
	border-top: 1px solid #ccc;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff
}

.studio-group.hide {
	display: none
}

.studio-group a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #308be1;
	width: 100%;
	height: 35px;
	border-radius: 35px;
	font-size: 0
}

.studio-group a span {
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 35px
}

.studio-group a .icon-group {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/icon_group.png") no-repeat
		0 0;
	background-size: cover;
	margin-right: 4px
}

.tab-items {
	padding: 0 15px;
	margin-bottom: 50px
}

.tab-items .item {
	display: none
}

.tab-items .item.show {
	display: block
}

.box {
	border-bottom: 1px solid #e9e9e9
}

.box h3 {
	font-size: 16px;
	color: #333;
	margin-bottom: 12px
}

.box.introduction {
	padding-top: 20px;
	padding-bottom: 20px
}

.box.introduction p {
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3
}

.box.introduction p.show {
	-webkit-line-clamp: inherit;
	overflow: inherit
}

.box.introduction p.show .arrow-down {
	bottom: -16px
}

.box.introduction p.show .arrow-down::after {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg)
}

.box.introduction p .arrow-down {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 30px;
	height: 16px;
	background-color: #fff
}

.box.introduction p .arrow-down::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	width: 10px;
	height: 10px;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.box.disease {
	padding-top: 20px;
	padding-bottom: 10px
}

.box.disease p {
	font-size: 14px;
	color: #ccc
}

.box .tags {
	font-size: 0
}

.box .tags li {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 0 9px;
	height: 22px;
	line-height: 20px;
	color: #808080;
	font-size: 14px;
	border-radius: 22px;
	margin-right: 10px;
	margin-bottom: 10px
}

.box.article {
	padding-top: 20px
}

.box.article h3 {
	position: relative;
	margin-bottom: 8px
}

.box.article h3 .more {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	color: #808080;
	padding-right: 8px
}

.box.article h3 .more:after {
	content: '';
	position: absolute;
	right: 0;
	top: 2px;
	width: 7px;
	height: 7px;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.box.article .article-list {
	padding-bottom: 8px
}

.box.article .article-list li {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 0 8px 12px
}

.box.article .article-list li::before {
	content: '';
	position: absolute;
	left: 2px;
	top: 14px;
	width: 2px;
	height: 2px;
	background: url("../img/dot.png") no-repeat 0 0;
	background-size: cover
}

.box.article .article-list a {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 20px
}

.box.article .article-list .views {
	display: block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	color: #808080;
	line-height: 14px
}

.box.article .article-list .icon-views {
	display: inline-block;
	width: 15px;
	height: 9px;
	background:
		url("data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAARCAYAAADOk8xKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6 eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1 MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJ RD0ieG1wLmlpZDo1OEQyNkM3RjM2QzcxMUU2OUZFNUQwRkRDNEY2NjZCQiIgeG1wTU06RG9jdW1l bnRJRD0ieG1wLmRpZDo1OEQyNkM4MDM2QzcxMUU2OUZFNUQwRkRDNEY2NjZCQiI+IDx4bXBNTTpE ZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU4RDI2QzdEMzZDNzExRTY5RkU1 RDBGREM0RjY2NkJCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU4RDI2QzdFMzZDNzExRTY5 RkU1RDBGREM0RjY2NkJCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBt ZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Zs0tJQAAAmVJREFUeNqklU1IFGEYx3en7bKZHvs49GGI B+1TEuyQSBJIBLLRxSwwaquDkEYRZe1uWUhRt7A2KaI8LUliIIQQngKjbz325SE/6LSGl1D7PfAX hmFmd6CBHzM8zzP//7zzPu/7RtPpdCTEVQ6HoRG2whrFZ+ALjEAulUp9KyYULWK4E7qhCUxsCN7B L+XXwy44CFtgGLow/hAk6ATESyAr8VUaWQV0wCDMikHEO8Fy+yBu72QymSyUhB3hDvs9UAZn4Lni 2+Am7IeViv2FV3AJ088WwKiZ232Ys2kg/rHQCBPwBiZhu8vM5m8MSlWzViQUG8PIaiIYvNBHfzct 4okgw6RG9kSjmFK8CvqhF+rhpZplRs/1yvUjXiXTac17n2kST3oNW+EB3IbTsOD6kCswDudgyfv/ EV9Sbly1y/EFaLdH08a0ddnQGuKxzC76zLN96SNYDOo8hBdV0+STsy7vMQ9MGx11448As7jmaDLE WrWaUkTjPrnL8sg6mrtNcMOncB7ysCGEodXkGdG8T65HHklHu0SbRtjlU2yL+XiBNWtLwVHNsE/O zM6bBx8zElP8mX5fr7ats67GuQ62c9yBTm/jIBhVrhqOuuIruN2Dk3AKM/OIxFzv2lz+1hKohGNg 7T0BR+Ap1MAteKt3dsMFqLUaRCdktk6D2KPFPxC08C1RB5vBdohmxXMSzatmWgwoVotoTmaHuH3S nNa5zQpt3rYP3oUTMArX4LVyq2Gjnn8iOKff2gBXYa8WvO2xf/7ntPiq0+K957So0WlRHua0iBVp dXvxgOc8bPE5Dx+GPQ//CTAAusPQ3GEWsTgAAAAASUVORK5CYII=")
		no-repeat 0 0;
	background-size: contain;
	margin-right: 4px
}

.box.comment {
	padding-top: 20px;
	border-bottom: 0 none
}

.box.comment .comment-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.box.comment .comment-list .avatar {
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 30px;
	margin-right: 10px;
	margin-top: 10px
}

.box.comment .comment-list .info {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e9
}

.box.comment .comment-list .meta {
	overflow: hidden;
	font-size: 12px;
	color: #808080;
	margin-bottom: 7px
}

.box.comment .comment-list .meta .user {
	float: left
}

.box.comment .comment-list .meta .time {
	float: right
}

.box.comment .comment-list .stars {
	font-size: 0;
	margin-bottom: 10px
}

.box.comment .comment-list .stars .icon-star {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url("../img/icon_star_bg.png")
		no-repeat 0 0;
	background-size: 100% 100%;
	margin-right: 2px
}

.box.comment .comment-list .stars .icon-star.active {
	background-image: url("../img/icon_star.png")
}

.box.comment .comment-list .detail {
	font-size: 14px;
	color: #333;
	line-height: 20px
}

.member-list li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0
}

.member-list .avatar {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	overflow: hidden;
	background-color: #ffffff;
	margin-right: 10px;
	margin-top: 10px
}

.member-list .info {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	border-bottom: 1px solid #e9e9e9
}

.member-list .user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px
}

.member-list .user .name {
	font-size: 16px;
	color: #333;
	margin-right: 6px
}

.member-list .user .job {
	font-size: 14px;
	color: #808080;
	margin-right: 6px
}

.member-list .user .leader {
	display: block;
	width: 14px;
	height: 14px;
	background: url("../img/icon_leader.png") no-repeat
		0 0;
	background-size: 100% 100%
}

.member-list .address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	color: #808080;
	margin-bottom: 10px
}

.member-list .address .vertical-line {
	margin: 0 6px
}

.member-list .tags {
	font-size: 0
}

.member-list .tags li {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 0 9px;
	height: 21px;
	line-height: 19px;
	color: #808080;
	font-size: 14px;
	border-radius: 21px;
	margin-right: 10px;
	margin-bottom: 10px
}

.member-list .tags p {
	font-size: 14px;
	color: #ccc;
	padding-bottom: 10px
}

.hairlines .tabs a.active {
	border-width: 2px
}

.hairlines .box, .hairlines .tabs a, .hairlines .studio-group,
	.hairlines .box .tags li, .hairlines .box.comment .comment-list .info,
	.hairlines .member-list .tags li, .hairlines .member-list .info {
	border-width: .5px
}

.android-hairlines .article-list li {
	position: relative;
	border-bottom: 0 none
}

.android-hairlines .article-list li::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #e9e9e9;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: left;
	transform-origin: left
}

.g-tip {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10010;
	background-color: rgba(0, 0, 0, 0.8)
}

.g-tip::after {
	content: '';
	position: absolute;
	right: 20px;
	top: 5px;
	display: block;
	width: 252px;
	height: 180px
}

.g-tip-android::after {
	background: url("../img/wechat_tip_android.png")
		no-repeat 0 0;
	background-size: cover
}

.g-tip-ios::after {
	background: url("../img/wechat_tip_ios.png")
		no-repeat 0 0;
	background-size: cover
}

.btnhide {
	display: none;
}
/*# sourceMappingURL=studio.css.map */